.biobox {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 320px;
    padding: 10px 20px 10px 20px;
}

.newstitle {
    background-color: red;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.newssite {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: pink;
    padding: 10px 20px 10px 20px;
}

.clear {
  clear: left;
}
